name: github-add-label

on:
  workflow_call:
    inputs:
      GITHUB_ENVIRONMENT:
        description: 'The environment to run the Primus GitHub operation in.'
        default: 'production'
        required: true
        type: string
      PRIMUS_REF:
        description: 'The primus ref to checkout.'
        required: true
        default: 'main'
        type: string
      GITHUB_LABEL_ACTION:
        description: 'The action to perform on the label. Valid values are "add" or "remove".'
        required: true
        type: string
      GITHUB_ISSUE_NUMBER:
        description: 'The issue number to add/remove the label from.'
        required: false
        type: string
        default: ${{ github.event.pull_request.number || github.event.issue.number }}
      GITHUB_LABEL_NAME:
        description: 'The name of the label to add/remove.'
        required: true
        type: string

defaults:
  run:
    shell: bash

env:
  PRIMUS_HOME: .primus
  MAKE: make --no-print-directory --makefile=.primus/src/make/main.mk

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: self-checkout
        uses: actions/checkout@v4
      - id: token
        name: github-token-gen
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ inputs.GITHUB_ENVIRONMENT == 'production' && secrets.PRIMUS_APP_ID || secrets.NP_PRIMUS_APP_ID }}
          private-key: ${{ inputs.GITHUB_ENVIRONMENT == 'production' && secrets.PRIMUS_PRIVATE_KEY || secrets.NP_PRIMUS_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: primus-checkout
        uses: actions/checkout@v4
        with:
          repository: signoz/primus
          ref: ${{ inputs.PRIMUS_REF }}
          path: .primus
          token: ${{ steps.token.outputs.token }}
      - name: info
        run: |
          $MAKE info
      - name: label
        env:
          GH_LABEL_ACTION: ${{ inputs.GITHUB_LABEL_ACTION }}
          GH_REPOSITORY: ${{ github.repository }}
          GH_ISSUE_NUMBER: ${{ inputs.GITHUB_ISSUE_NUMBER }}
          GH_LABEL_NAME: ${{ inputs.GITHUB_LABEL_NAME }}
        run: |
          GH_REPOSITORY_NAME=$(echo "${GH_REPOSITORY}" | awk -F'/' '{print $2}')
          $MAKE github-${GH_LABEL_ACTION}-label \
            GITHUB_ARGS="-t ${{ steps.token.outputs.token }} \
              -r ${GH_REPOSITORY_NAME} \
              -i ${GH_ISSUE_NUMBER} \
              -l '${GH_LABEL_NAME}'"
